body {
    background: #01669E;
    margin: 0;
}
.container-header{
    height: 169px;
    width: 100%;
    background-color: #FED201;
}
@media (max-width: 640px){
    .search-form { flex-direction: column; }
    .search-form input, .search-form button, .container input, .container button { width: 100%; }
    table { display:block; overflow-x:auto; }
}
