body{
    margin: 0;


}
.nav-box {
    background-color: #ffde00;
    height: 150px;
    width: 100%;
    display: flex;

}
.nav-link {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 20px;
}
.nav1 {
    margin-left: 10px;
    margin-right: 20px;

}